$primary_font:'Open Sans', sans-serif;
$secondary_font:'Marcellus', serif;
$text_color:black;
$text_color2:rgb(226, 168, 178);
$main_color:white;
$menu_bg_color: #f9f9f9;
$ease: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$box_shadow_color:rgba(0, 0, 0, 0.1);