.cartContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 5px;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: $secondary_font;
    font-size: 1.9rem;
    margin-bottom: 22px;
  }
  .empty_text{
    width: 100%;
    height: 60px;
    border-top: 3px solid;
    padding: 10px 20px;
    background-color: $menu_bg_color;
   
  }
  .empty_button{
    background-color: $text_color;
    color: $main_color;
    padding: 18px 20px;
    margin-top: 30px;
}
  table {
    width: 100%;
    border: 1px solid $border_color;
    text-align: left;
    thead {
    background-color: $menu_bg_color;
      tr {
        min-height: 50px;
      }
    }
    tbody {
      tr {
        min-height: 110px;

        .count_changer_btns {
          display: flex;
          text-align: center;
          width: 130px;
          font-size: 20px;
          button {
            border: 1px solid $border_color;
            padding: 3px 12px;
          }
          span {
            padding: 4px 13px;
            border-top: 1px solid $border_color;
            border-bottom: 1px solid $border_color;
          }
        }
      }
    }
    td,
    th {
      padding: 15px 15px;
    }
    tr {
      width: 100%;
      border-top: 1px solid $border_color;
      img {
        height: 110px;
        width: auto;
      }
    }
  }
}
 @media (max-width:650px)  {
    table{
        text-align: center;
    }
    th{
        display: none;
    }
    td{
        display: flex;
        justify-content: space-between;
        .count_changer_btns{
            justify-content: end;
        }
    }
    td::before{
        content: attr(data-cell) " : ";
        font-weight: 700;
        text-transform: capitalize;
    }
 }