* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary_font;
}

header {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;

  .logo {
    padding: 0px 10px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li:not(.dropdown_option) {
      position: relative;
      text-decoration: none;
      transition: 0.3s ease;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0.1px;
        left: 0;
        background-color: $text_color2;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      &:hover {
        color: $text_color2;

        &::before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }

    li {
      vertical-align: sub;
      margin: 10px 10px;
      transition: 0.3s ease;

      &:hover {
        color: $text_color2;
      }
      a {
        transition: 0.3s ease;
        text-decoration: none;
        color: $text_color;

        &:hover {
          color: $text_color2;
        }
      }
    }

    .dropdown {
      cursor: pointer;

      .show {
        display: block;
      }

      ul {
        display: none;

        li {
          transition: 0.3s ease;
        }
      }
    }
  }

  .right_options {
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    i {
      font-size: 18px;
    }
  }
}

.hamburger {
  display: none;
  position: absolute;
  right: 15px;
  top: 0;
  color: $text_color2;

  .ham {
    color: $text_color;
    width: 55px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;

    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: $text_color2;
      stroke-width: 5.5;
      stroke-linecap: round;
    }
  }

  .hamRotate.active {
    transform: rotate(45deg);
  }

  .ham1 {
    .top {
      stroke-dasharray: 40 139;
    }

    .bottom {
      stroke-dasharray: 40 180;
    }
  }

  .ham1.active {
    .top {
      stroke-dashoffset: -98px;
    }

    .bottom {
      stroke-dashoffset: -138px;
    }
  }
}

@media screen and (max-width: 920px) {
  nav {
    ul,
    .right_options {
      display: none;
    }

    flex-direction: column;
    width: 100%;
    height: 200px;

    ul.responsive {
      li {
        margin: 14px;
      }

      li:not(.dropdown_option) {
        border-bottom: 1px solid #eaeaea;
      }
    }

    .responsive_on {
      display: block;
      padding: 5px;
      background-color: $burger_menu_bg_color;

      .clicked,
      .clicked_options {
        display: block;
      }
    }
  }

  .hamburger {
    display: block;
  }
}
